.title {
  white-space: nowrap;
  border-right: 4px solid;
  text-align: center;
  overflow: hidden;
}

@keyframes type {
  from {
    width: 0;
  }
}

.arrow-down {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  animation: arrow-down 3s infinite ease;
}

.arrow-right,
.arrow-left {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes arrow-down {
  from {
    transform: translate(0, 0px);
    opacity: 0;
  }

  to {
    transform: translate(0, 20px);
    opacity: 1;
  }
}
